@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.todo2{
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.btn{
    color: white;
    background-color: rgb(255, 165, 0);
}
.todo{
    background-image: url(https://ik.imagekit.io/c158secge/mern/todolistbg.png_updatedAt=1700761069523?updatedAt=1719152946917);
    background-repeat: no-repeat;
    width: 300px;
    height: 600px;
    background-size: contain;
}

.todo3{
    text-align: left;
    font-size: small;
}
.para1{
    font-size: small;
}
.para4{
    font-size: xx-small;
    text-decoration: underline;
}